* { box-sizing: border-box }

body {
    text-align: center;
    background-color: #FFF7EA;
}

h1 {
    font-size: 30px;
    font-weight: lighter;
}

.form-container {
    padding-top: 5px;
    width: 300px;
    height: 80px;
    margin: 0 auto;
    background-color: #4F6078;
    border-radius: 5px;
}

#name {
    display: block;
    font-size: 20px;
    width: 250px;
    text-align: center;
    margin: 10px auto;
}

.hidden {
    display: none;
}

.chart-container {
    width: 100%;
    height: auto;
    margin: 0 auto;
}